<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AmazingBalcony</title>
    <script src="js/jquery-1.9.0.js" th:src="@{asserts/js/jquery-1.9.0.js}"></script>
    <link rel="stylesheet" href="css/bootstrap-4.0.0/dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="css/view.css" th:href="@{asserts/css/view.css}">
    <link rel="shortcut icon" href="/public/favicon.ico" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="view.html" th:href="@{/view}">基地实景</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="monitor.html" th:href="@{/monitor}">物联监控</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="echarts_humiout.html" th:href="@{/data}">统计分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="infos.html" th:href="@{/infos}">植物档案</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" style="vertical-align: middle">序号</th>
                    <th scope="col" style="vertical-align: middle">农作物姓名</th>
                    <th scope="col" style="vertical-align: middle">是否适合阳台种植</th>
                    <th scope="col" style="vertical-align: middle">农作物信息</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>茭白</td>
                    <td>是</td>
                    <td>原产中国及东南亚，是一种较为常见的水生蔬菜。在亚洲温带、日本、俄罗斯及欧洲有分布。全草为优良的饲料，为鱼类的越冬场所。也是固堤造陆的先锋植物。</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>