<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AmazingBalcony</title>
    <script src="js/jquery-1.9.0.js" th:src="@{asserts/js/jquery-1.9.0.js}"></script>
    <link rel="stylesheet" href="css/bootstrap-4.0.0/dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="css/view.css" th:href="@{asserts/css/view.css}">
    <link rel="shortcut icon" href="/public/favicon.ico" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="view.html" th:href="@{/view}">基地实景</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="monitor.html" th:href="@{/monitor}">物联监控</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="echarts_humiout.html" th:href="@{/data}">统计分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="infos.html" th:href="@{/infos}">植物档案</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <main role="main" class="container-fluid">
            <h2><a class="btn btn-sm btn-success" href="info" th:href="@{/info}">植物档案添加</a></h2>
            <table class="table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>植物名称</th>
                    <th>是否适合阳台种植</th>
                    <th>植物信息</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="infos" type=""*/-->
                <tr th:each="info:${infos}">
                    <!--/*@thymesVar id="id" type=""*/-->
                    <td th:text="${info.id}"></td>
                    <td th:text="${info.sort}"></td>
                    <td th:text="${info.judge}==0?'否':'是'"></td>
                    <td th:text="${info.infos}"></td>
                    <td>
                        <a class="btn btn-sm btn-primary" th:href="@{/info/}+${info.sort}">编辑</a>

                        <button th:attr="del_uri=@{/info/}+${info.sort}"  type="submit" class="btn btn-sm btn-danger deleteBtn">删除</button>

                    </td>
                </tr>
                </tbody>
            </table>
        </main>
        <form id="deleteEmpForm"  method="post">
            <input type="hidden" name="_method" value="delete"/>
        </form>
    </div>
    <script>
        $(".deleteBtn").click(function () {
            //删除当前员工
            $("#deleteEmpForm").attr("action",$(this).attr("del_uri")).submit();
            return false;
        });
    </script>
</body>
</html>