<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AmazingBalcony</title>
    <script src="js/jquery-1.9.0.js" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
    <link rel="stylesheet" href="css/bootstrap-4.0.0/dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.css}">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.js}"></script>
    <link rel="shortcut icon" href="/public/favicon.ico" />
    <style>
        body {
        padding-top: 5rem;
    }
    .starter-template {
        padding: 2rem 1.5rem;
        text-align: center;
    }
    img{
        width: 800px;
        height: 600px;
    }</style>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="view.html" th:href="@{/view}">基地实景</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="monitor.html" th:href="@{/monitor}">物联监控</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="echarts_humiout.html" th:href="@{/data}">统计分析</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="infos.html" th:href="@{/infos}">植物档案</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <form th:action="@{/info}" method="post" >
            <input type="hidden" th:name="_method" th:value="put"/>
            <div class="form-group">
                <label for="exampleFormControlInput1">植物名称</label>
                <input th:name="sort" class="form-control" id="exampleFormControlInput1" th:value="${infosUpdate.sort}">
            </div>
            <div class="form-group">
                <label>是否适合阳台种植</label><br/>
                <div class="form-check form-check-inline">
                    <input th:name="judge" class="form-check-input" type="radio" name="gender" value="1" th:checked="${infosUpdate!=null}?${infosUpdate.judge==1}">
                    <label class="form-check-label">是</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:name="judge" class="form-check-input" type="radio" name="gender" value="0" th:checked="${infosUpdate!=null}?${infosUpdate.judge==0}">
                    <label class="form-check-label">否</label>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">植物信息</label>
                <textarea th:name="infos" class="form-control" id="exampleFormControlTextarea1" rows="3" th:text="${infosUpdate.infos}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" th:text="修改">添加</button>
        </form>
    </main>
</div>
</body>
</html>